<html>
    <head>
        <meta charset="UTF-8">
        <title>ECS</title>
    </head>
    <body>
        <% if (locals.data) { %>
            <h1>My name is <%=data%></h1>
        <% } %>
    </body>
</html>